*{
    margin: 0px;
    font-family: 'poppins'; 
}
.top-box{
    height:40px;
    background-color: rgb(20, 20, 59);
    display: flex;
    justify-content: space-between;
    padding: 20px;
    color: aliceblue;
   
}
.navigation-box {
    /* border: 5px solid white; */
    height: 60px;
    width: 800px;
    
}
.navigation-box ul{
    text-decoration: none;
    /* list-style: none; */
    display: flex;
    justify-content: space-between;
    /* margin: 0 23px; */
    font-size: 20px;
}
.navigation-box ul li{
    list-style: none;
    color: aliceblue;
}
.navigation-box ul li a:hover{
    color: rgb(100, 100, 244);
}
.about-box{
    height: 610px;
    background-color: rgb(0, 0, 33);
}
.about-box h1{
    color: aliceblue;
    text-align: center;
    font-size: 50px;
    padding: 10px;

}
.about-box-row{
    /* border: 2px solid white; */
    height: 400px;
    width: 1100px;
    margin: auto;
    padding: 25px;
    display: flex;
    justify-content: space-between;
}
.about-col{
    /* border: 2px solid yellow; */
    height: 100%;
    width: 45%;
    color: white;

}
.about-col p{
    font-size: 33px;
}
.name{
    color: rgb(230, 153, 87);
}
.about-col img{
    height: 100%;
    margin-left: 80px;
    
}
.projects{
    background-color: #EDEDED;
    height: 600px;
}
.projects h1{
    /* color: aliceblue; */
    text-align: center;
    font-size: 50px;
    padding: 20px;
    text-decoration: underline;
    font-family: 'Roboto';
}
.projects ul{
    font-size: 30px;
    margin-left: 100px;
}
.projects ul li{
    margin-top: 20px;
}
.achivement{
    background-color: black;
    height: 610px;
    color: white;
}
.achivement h1{
    text-align: center;
    font-size: 40px;
}
.achivement ul{
    font-size: 20px;
    margin-top: 20px;
}
.contacts{
    background-color: #EDEDED;
    height: 640px;
}
.contacts h1{
    font-size: 40px;
    padding: 10px;
    text-align: center;
}
.contacts form{
    background-color: rgb(9, 20, 50);
    width: 600px;
    height: auto;
    margin: auto;
    border-radius: 20px;
    padding: 20px;
}
form{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 20px;
}
input{
    margin-left: 50px;
    border-radius: 10px;
    padding: 10px 0px;
}
textarea{
    margin-left: 50px;
    border-radius: 10px;
    padding: 10px 0px;
}
table{
    color: white;
}
table td{
    /* border: 2px solid white; */
    padding: 20px;

}
label{
    font-size: 20px;
    
}
input[type='submit']{
    background-color: rgb(0, 0, 0);
    width: 20%;
    color: white;
    margin-left: 225px;
    border: 1px solid white;
}
input[type='submit']:hover{
    background-color: rgb(35, 38, 38);
}
.social-media{
    background-color: rgb(2, 2, 44);
    height: 60px;
    margin-top: 20px;
}
.social-media td{
    border-right: 1px solid white;
    /* height: 10px; */
    padding: 15px 45px;
    
}
.social-media table td:last-child{
    border-right: none;
}
.social-media table{
    font-size: 16px;

}
.social-media a{
    color: white;
    text-decoration: none;  
}
footer{
    background-color: rgb(25, 25, 95);
    color: white;
    font-size: 30px;
    height: 40px;
    padding: 10px;
    text-align: center;
}
.navigation-box a {
    color: white;
    text-decoration: none;
}